/*---------------------Fonts (also in index.html)----------------------*/
/*"Poppins", sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*---------------------Colors----------------------*/
:root {
    --Carify-blue: #5183ef;
    --Carify-lightblue: #A9C4FF;
    --Carify-darkblue: #283880;
    --Carify-white: #ffffff;
    --Carify-black: #000000;
    --Carify-gray: #EAE9E9;
}

/*Have all reusable components css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    z-index: 2;
    font-family: "Poppins", sans-serif;
}


.row {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    overflow-x: hidden;
}

#root {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    width:100vw;
    overflow-y: hidden;
}

.bg-myblue{
    background-color: var(--Carify-blue);
}
.mytitle{
    color:var(--Carify-white);
    font-weight: 600;
    font-size: 2rem !important;
}
.active{
    position: relative;
    
}
.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 26%;
    width: 50%;
    height: 10%;
    background-color: var(--Carify-lightblue);
    border-radius: 8px;
}
.btn-close{
    margin-right: 5px !important;
}

.chatbotdiv {
    height: 70vh;
    width: 100%;
    min-height: 400px;  
    border-radius: 8px;
    background-color: var(--Carify-gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start;
    padding: 10px;
}



.chat {
    height: calc(70vh - 80px);
    padding-bottom: 200px;
    overflow-y: scroll;
    width: 100%;
}
.patientchatdiv{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.patientchat {
    max-width: 60%;
    background-color: var(--Carify-white);
    padding: 8px 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 4px;
    position: relative;
    margin-right: 80px;
}

.patientchat::after {
    content: ""; /* Necessary to display the pseudo-element */
    position: absolute;
    height: 40px;
    width: 50px; /* Adjust width as needed for the image */
    top: 2px;
    right: -60px; /* Distance from the right edge */
    background-image: url('./Pages/App/Home/patient.png');
    background-size: contain; /* Ensure the image scales correctly */
    background-repeat: no-repeat; /* Avoid repeating the image */
    background-position: center center; /* Center the image */
    border-radius: 100%;
}
.botchatdiv{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 20px;
}
.botchat {
    max-width: 60%;
    background-color: var(--Carify-white);
    padding: 8px 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 4px;
    position: relative;
    margin-left: 80px;
}

.botchat::after {
    content: ""; /* Necessary to display the pseudo-element */
    position: absolute;
    height: 40px;
    width: 50px; /* Adjust width as needed for the image */
    top: 2px;
    left: -60px; /* Distance from the right edge */
    background-image: url('./Pages/App/Home/robo.png');
    background-size: contain; /* Ensure the image scales correctly */
    background-repeat: no-repeat; /* Avoid repeating the image */
    background-position: center center; /* Center the image */
    border-radius: 100%;
}
.search-container {
    display: flex;
    width: 100%;

}

.searchbar {
    background-color: var(--Carify-white);
    height: 80px;
    width: 90%;               /* Adjust width for layout */
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 4px 0 0 4px;  /* Rounded left corners */
    padding: 5px;
    margin-right: 10px;
}

.searchbutton {
    background-color: var(--Carify-blue);
    height: 80px;
    width: 10%;               /* Adjust width for layout */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--Carify-white);
    border-radius: 0 4px 4px 0; /* Rounded right corners */
    border: none;
    cursor: pointer;
    text-align: center;
}
.mydiv{
    background-color: #f5f5f5;
    padding: 24px 36px;
    border-radius: 8px;
    border: 1px solid var(--Carify-black);
}
.slotdiv{
    margin: 5px 0;
    position: relative;
}
.slotno{
    padding: 10px 20px;
    background-color: var(--Carify-blue);
    border-radius: 8px;
}
.slotinfo{
    padding: 20px ;
    margin-top: 10px;
    border-radius: 8px;
    background-color: var(--Carify-gray);
}
.toggleappoint{
    border: none;
    height: 2rem;
    width: 2rem;
    margin-top: 10px;
    border-radius: 50%;
}
.patient{
    padding: 10px;
    width: 100%;
    background-color: var(--Carify-white);
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.responsive-iframe-wrapper {
    position: relative;
    padding-bottom: 28.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 60%;
    background: #000;
    margin-top: 10px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 990px) {
    
}

@media screen and (max-width: 768px) {

    
}

@media screen and (max-width: 576px) {
    
}

@media screen and (max-width: 420px) {
    
    

}